{% extends "base.html" %}

{% block title %}Logged out{% endblock %}

{% block body_block %}
<div class="page-header">
    <h1>Logged Out</h1>
</div>
    <p>You are now logged out.</p>
{% endblock %}
