{% extends "base.html" %}

{% block title %}Registration complete{% endblock %}

{% block body_block %}
<div class="page-header">
    <h1>Registration complete</h1>
</div>
<p>You are now registered</p>
{% endblock %}
