{% extends 'base.html' %}

{% block title %}Battery level faults for {{ dataset.name }}{% endblock %}

{% block body_block %}
    <div class="page-header">
        <h1>Battery level faults for {{ dataset.name }}</h1>
    </div>

    <div>
        <a class="btn btn-primary" href="{% url 'uploads:view' dataset.id %}">Back to view</a>
    </div>
    <br />

    <!-- Pagination -->
    {% if data %}
    <div class="pagination">
        <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
        </span>
    </div>
    {% endif %}

    <!-- Faults -->
    <div class="row large-text">
        <div class="col-xs-4">
        {% if lwarn > 0 %}
            <p class="bg-warning">Number of lower bound warnings: {{ lwarn }}</p>
        {% else %}
            <p class="bg-success">No lower bound warnings</p>
        {% endif %}
        </div>
        <div class="col-xs-4">
        {% if uwarn > 0 %}
            <p class="bg-warning">Number of upper bound warnings: {{ uwarn }}</p>
        {% else %}
            <p class="bg-success">No upper bound warnings</p>
        {% endif %}
        </div>
        <div class="col-xs-4">
        {% if faults > 0 %}
            <p class="bg-danger">Number of faults: {{ faults }}</p>
        {% else %}
            <p class="bg-success">No faults</p>
        {% endif %}
        </div>
    </div>

    <!-- Fault table -->
    {% if data %}
    <table class="table">
        <tr>
            <th>Log Time</th>
            <th>Generator Voltage</th>
            <th>Generator Current</th>
            <th>Load Voltage</th>
            <th>Load Current</th>
        </tr>
    {% for row in data %}
        <tr>
            <td>{{ row.logtime }}</td>
            <td>{{ row.gen_voltage }}</td>
            <td>{{ row.gen_current }}</td>
            <td>{{ row.load_voltage }}</td>
            <td>{{ row.load_current }}</td>
        </tr>
    {% endfor %}
    </table>
    {% endif %}
{% endblock %}
