{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}{{ dataset.name }}{% endblock %}


{% block extrahead %}
<link href="{% static 'uploads/css/nv.d3.css' %}" rel="stylesheet" type="text/css">
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="{% static 'uploads/js/nv.d3.min.js' %}" charset="utf-8" /></script>
{% endblock %}

{% block body_block %}
    <div class="page-header">
        <h1>{{ dataset.name }}</h1>
    </div>
    <div>
        <a class="btn btn-default" href="{% url 'uploads:levelfault' dataset.id %}">Battery Level Faults</a>
        <a class="btn btn-default" href="{% url 'uploads:dod' dataset.id %}">Depth of Discharge</a>
        <a class="btn btn-default" href="{% url 'uploads:powerfault' dataset.id %}">Generated Power</a>
        <a class="btn btn-default" href="{% url 'uploads:energy' dataset.id %}">Generated Energy</a>
        <a class="btn btn-default" href="{% url 'uploads:powerload' dataset.id %}">Dissipated Power</a>
        <a class="btn btn-default" href="{% url 'uploads:energyload' dataset.id %}">Dissipated Energy</a>
        {% if user.is_authenticated %}
        <a class="btn btn-default" href="{% url 'uploads:upload' dataset.id %}">Upload New Data</a>
        {% endif %}
    </div>

    <div>
        <p> {{ chart2| safe }} </p>
    </div>

    <!-- Commented because the charts are interfering with each other for some reason. One chart is good enough....

     <div>
        <p> {{ chart1| safe }} </p>
    </div>

     -->

    <div class="pagination">
        <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
        </span>
    </div>
    <table class="table">
        <tr>
            <th>Log time</th>
            <th>Battery Voltage</th>
            <th>Load Current</th>
            <th>Generator Current</th>
            <th>Generator Voltage</th>
        </tr>
    {% for row in data %}
        <tr>
            <td>{{ row.logtime }}</td>
            <td>{{ row.battery_voltage }}</td>
            <td>{{ row.load_current }}</td>
            <td>{{ row.gen_current }}</td>
            <td>{{ row.gen_voltage }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
