{% extends 'base.html' %}

{% load static %}

{% block title %}Locations{% endblock %}

{% block body_block %}
    <div class="page-header">
        <h1>Choose a Location</h1>
    </div>
    <div class="row">
    {% for dataset in datasets %}
        <div class="col-md-6">
            <a href="{% url 'uploads:view' dataset.id %}">
                <img src="{% get_static_prefix %}uploads/images/{{ dataset.name }}.png" alt="Flag of {{ dataset.name }}" />
            </a>
        </div>
    {% endfor %}
{% endblock %}
