{% extends 'base.html' %}

{% block title %}Depth of discharge for {{ dataset.name }}{% endblock %}

{% block body_block %}
    <div class="page-header">
        <h1>Depth of discharge for {{ dataset.name }}</h1>
    </div>

    <div>
        <a class="btn btn-primary" href="{% url 'uploads:view' dataset.id %}">Back to view</a>
    </div>
    <br />

    <div>
        <p>The minimum voltage value is: {{ min }}</p>
        <p>The maximum voltage value is: {{ max }}</p>
        <p>The maximum voltage as a percentage of total capacity (12 V) is: {{capacity}}</p>
        <p>The average depth of discharge as a percentage of total capacity (12 V) is: {{ AvDOD }}</p>
        <p>The predicted total number of cycles is: {{prediction}}</p>
        <p>{{diagnosis}}</p>
        <br />
        <p>{{report}}</p>
        {% if date == 0 %}
        <p>This has never been discharged properly</p>
        {% else %}
        <p>The date of the last proper discharge cycle was: {{date}}</p>
        {% endif %}
    </div>


{% endblock %}
