{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Energy for {{ dataset.name }}{% endblock %}


{% block extrahead %}
        <link href="{% static 'uploads/css/nv.d3.css' %}" rel="stylesheet" type="text/css">
        <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
        <script src="{% static 'uploads/js/nv.d3.min.js' %}" charset="utf-8" /></script>
{% endblock %}

{% block body_block %}
    <div class="page-header">
        <h1>Energy For {{ dataset.name }}</h1>
    </div>

    <div>
        <a class="btn btn-primary" href="{% url 'uploads:view' dataset.id %}">Back to view</a>
    </div>
    <br />


    {{ chart1|safe }}

    <!--. Commented because the charts are interfering with each other for some reason. One chart is good enough....

     <div>
     {{ chart2|safe }}
     </div>

     <div>
     {{ chart3|safe }}
     </div>

     ..-->


    <div>
        <p>The Average Energy Per Day: {{ D_av_energy }}</p>
        <p>The Average Energy Per Week: {{ W_av_energy }}</p>
        <p>The Average Energy Per Month: {{ M_av_energy }}</p>
        <p>The number of Days below 85 % of the Average: {{ dbelow }}</p>
        <p>The number of Days above 115 % of the Average: {{ dabove }}</p>
        <p>The number of Weekss below 85 % of the Average: {{ wbelow }}</p>
        <p>The number of Weekss above 115 % of the Average: {{ wabove }}</p>
        <p>The number of Months below 85 % of the Average: {{ mbelow }}</p>
        <p>The number of Months above 115 % of the Average: {{ mabove }}</p>
    </div>

    <table class="table">
        <tr>
            <th>Date</th>
            <th>Daily Energy (Kilo-Watt-Hour)</th>
        </tr>
        {% for row in table1 %}
        <tr>
            <td>{{ row.date }}</a></td>
            <td>{{ row.Daily_Energy }}</td>
        </tr>
        {% endfor %}
    </table>

    <table class="table">
        <tr>
            <th>Date</th>
            <th>Weekly Energy (Kilo-Watt-Hour)</th>
        </tr>
        {% for row in table2 %}
        <tr>
            <td>{{ row.date }}</a></td>
            <td>{{ row.Weekly_Energy }}</td>
        </tr>
        {% endfor %}
    </table>


    <table class="table">
        <tr>
            <th>Month</th>
            <th>Year</th>
            <th>Monthly Energy (Kilo-Watt-Hour)</th>
        </tr>
        {% for row in table3 %}
        <tr>
            <td>{{ row.date }}</a></td>
            <td>{{ row.Year }}</a></td>
            <td>{{ row.Monthly_Energy }}</td>
        </tr>
        {% endfor %}
    </table>




{% endblock %}
