{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Graph of {{ upload.filename }}{% endblock %}

{% block extrahead %}
<link href="{% static 'uploads/css/nv.d3.css' %}" rel="stylesheet" type="text/css">
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="{% static 'uploads/js/nv.d3.min.js' %}" charset="utf-8" /></script>
{% endblock %}

{% block body_block %}
    <div class="page-header">
        <h1>Graphs of {{ upload.filename }}</h1>
    </div>

{{ chart|safe }}

{% endblock %}
