{% extends 'base.html' %}

{% block title %}Upload file{% endblock %}

{% block body_block %}
<form role="form" id="page_form" method="post" action="." enctype="multipart/form-data">
    <h2 class="form-heading">Upload a CSV file</h2>
    {% csrf_token %}

    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}

    <div class="form-group">
        <label for="id_filename">File</label>
        <input type="file" id="id_filename" name="filename">
    </div>

    <button class="btn btn-primary" type="submit" name="submit">Upload</button>
</form>
{% endblock %}
